*
{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box!important;
	scroll-behavior: smooth;
}
body
{
	/*font-family: Courier, monospace;*/
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	transition: .5s;

}
video
{
	width: 100%;
	height: auto;
}
h1
{
	font-weight: bold;
	font-size: 72px;
}
span
{
	margin: 0;
}
.p
{
	color: #cc0000;
}
.p:hover
{
	color: #ff0000;
}
#bg-left-1
{
	margin: 0;
	background: linear-gradient(291deg, rgba(0,0,0,0.3) 51%, #000000 51%), url(img/bg-topo.jpg);
	background-repeat: no-repeat;
	background-position: center;

	background-size: cover;
	height: 65vh;
}
.nav-link1
{
	/*border-bottom: solid 4px rgba(0,0,0,0);*/
	box-sizing: border-box;
	transition: all ease .3s;
	color: #eeeeee!important;
	font-size: 14px;
	line-height: 3.14286;
	font-weight: 400;
	letter-spacing: -.01em;
}
.nav-link1:hover
{
	/*border-bottom: solid 4px yellow;*/
	color: black!important;
	transition: all ease .3s;

}
.nav-link1:hover
{
	color: white!important;
}
#text1,#text2
{
	display: none;
}
.hr
{
	width: 100px;
	height: 5px;
	background-color: #000;
}
.image-servicos
{
	border-radius: 50%;
	object-fit: cover;
	width: 200px;
	height: 200px;
}
.image-blog
{
	transition: all ease .3s;
	/*border-radius: 50%15*/
	object-fit: cover;
	/*width: 360px;
	height: 360px;*/
}
.image-blog:hover
{
	transition: all ease .3s;
	transform: scale(1.05);
	filter: grayscale(100%);
}
.card
{
	width: 100%;
	border-color: transparent;
}

.bg-black
{
	background: #131313;
}
.bg-yellow
{
	background: #ebc115;
}
.card1
{
	transition: all ease .1s;
	border: ;
}

.p1
{
	text-shadow: 2px 2px 5px black;
}
.title-card
{
	font-size: 44px;
	line-height: 1.08349;
	font-weight: 600;
	letter-spacing: -.003em;
}
.text-card
{
	font-size: 28px;
	line-height: 1.14286;
	font-weight: 600;
	letter-spacing: .007em;
}
.link-card
{
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	display: block;
}
.btn-black
{
	background-color: #131313;
}
.btn-yellow
{
	background-color: yellow;
}
.btn-card
{
	cursor: pointer;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	font-size: 17px;
	line-height: 1.17648;
	font-weight: 400;
	letter-spacing: -.022em;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	min-width: 28px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 18px;
	background: #0071e3;
	color: #fff;
}
.btn-card:hover
{
	color: white!important;
	opacity: .9;
}
a:link, a:visited, .link:link, .link:visited {
	text-decoration: none;
}
@media(max-width: 576px)
{
	.nav-link
	{
		border-bottom: 1px solid #dee2e6 !important;
		text-align: left;
	}
}
.text-12
{
	font-size: 12px;
}

